$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */

$color-grey-1: #ccc;
$color-grey-2: #a2a2a2;
$color-grey-3: #00000042;
$color-grey-4: #eaeaea66;
$color-grey-5: #f5f5f5;
$color-white: #fff;
$color-black: #000;
$color-black-light: #535353;
$color-blue-1: #ceceff;
$color-blue-2: #0000ff;
$color-blue-3: #6730e3;
$color-blue-4: #3f51b1;
$color-blue-5: #53339c;
$color-shadow-1: rgba(0, 0, 0, 0.35);

$box-shadow: 0 20px 30px 0 rgba(67, 37, 204, 0.2) !important;
$box-shadow-1: 0 0.66rem 0.66rem -0.66rem rgba(0, 0, 0, 0.35);
